version: '3'
services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - ./frontend/templates:/app/frontend/templates
      - ./frontend/static:/app/frontend/static

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5001:5000"
    depends_on:
      - db
    environment:
      - STORMGLASS_API_KEY=ad546384-4626-11ee-8d52-0242ac130002-ad5463f2-4626-11ee-8d52-0242ac130002
    volumes:
      - ./backend:/app/backend

  db:
    image: postgres:13-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: weather
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
